*{
    color: #777777;
} 
body{
    width: 90%;
    margin:auto;
    font-family: 'Open Sans', sans-serif;
}
.s1{
    display: flex;
}
.colorParple{
    color: #8d56fe;

    transition-duration: 0.6s;
    transition-delay: .06s;
    transition-property: all;
}
.colorParple:hover{
    color: greenyellow;
}
    
.d1{
    width:50%;
}

.d2{ 
   width: 50%;
   display: flex ;
   justify-content: center;
}
.margin{
    width: 50%;
}
.img1{
   width: 50%;
   border-radius: 50%;
   
}
.btn{
    margin: 0px 0px 0px 120px;
    background-color: #8d56fe;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    padding: 10px;
    font-size: 15px;
    font-weight: 700; 
    justify-content: center;

    transition-delay: .06s;
    transition-duration: 1s;
    transition-property: all;
    
}
.btn:hover{
    background-color: greenyellow;
    margin-right: -120px;
    
}
.head{
    font-size: 38px;
}
.experience{
    background-color: aquamarine;
}